<!DOCTYPE html>
<html>
<head>
    <title>Professors List</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>DateJoin</th>
            <th>Degree</th>
        </tr>
        {% for professor in professors %}
        <tr>
            <td>{{ professor.id }}</td>
            <td>{{ professor.date_join }}</td>
            <td>{{ professor.degree }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
